{% load static %}

<!--start wrapper-->
<div class="wrapper">
<!--start top header-->
<header class="top-header">        
  <nav class="navbar navbar-expand gap-3">
    <div class="mobile-toggle-icon fs-3 d-flex d-lg-none">
        <i class="bi bi-list"></i>
      </div>
      <form class="searchbar">
          <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><i class="bi bi-search"></i></div>
          <input class="form-control" type="text" placeholder="Type here to search">
          <div class="position-absolute top-50 translate-middle-y search-close-icon"><i class="bi bi-x-lg"></i></div>
      </form>
      <div class="top-navbar-right ms-auto">
        <ul class="navbar-nav align-items-center gap-1">
          <li class="nav-item search-toggle-icon d-flex d-lg-none">
            <a class="nav-link" href="javascript:;">
              <div class="">
                <i class="bi bi-search"></i>
              </div>
            </a>
          </li>
        <li class="nav-item dark-mode d-none d-sm-flex">
            <a class="nav-link dark-mode-icon" href="javascript:;">
              <div class="">
                <i class="bi bi-moon-fill"></i>
              </div>
            </a>
        </li>
        
        </ul>
        </div>
        <div class="dropdown dropdown-user-setting">
          <a class="dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
            <div class="user-setting d-flex align-items-center gap-3">
              <img src="{% static 'dashboard-images/avatars/' %}" class="user-img" alt="">
              <div class="d-none d-sm-block">
                  <p class="user-name mb-0">Dhieu</p>
                <small class="mb-0 dropdown-user-designation">Driver</small>
              </div>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="pages-user-profile.html">
                    <div class="d-flex align-items-center">
                      <div class=""><i class="bi bi-person-fill"></i></div>
                      <div class="ms-3"><span>Profile</span></div>
                    </div>
                  </a>
              </li>
              <li>
                <a class="dropdown-item" href="index2.html">
                    <div class="d-flex align-items-center">
                      <div class=""><i class="bi bi-speedometer"></i></div>
                      <div class="ms-3"><span>My Dashboard</span></div>
                    </div>
                  </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item" href="authentication-signup-with-header-footer.html">
                    <div class="d-flex align-items-center">
                      <div class=""><i class="bi bi-lock-fill"></i></div>
                      <div class="ms-3"><span>Logout</span></div>
                    </div>
                  </a>
              </li>
          </ul>
        </div>
  </nav>
</header>
     <!--end top header-->

<!--start sidebar -->
<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">Pick Waste</h4>
    </div>
    <div class="toggle-icon ms-auto"> <i class="bi bi-list"></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bi bi-house-fill"></i>
        </div>
        <div class="menu-title">My Profile</div>
      </a>
      <ul>
        <li> 
          <a href="index3.html"><i class="bi bi-circle"></i>Details</a>
        </li>
      </ul>
    </li>
    <li class="menu-label">Works</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bi bi-droplet-fill"></i>
        </div>
        <div class="menu-title">Work Details</div>
      </a>
      <ul>
        <li> <a href="#"><i class="bi bi-circle"></i>Best Route Work</a>
        </li>
      </ul>
    </li>
    </li>

    <li class="menu-label">Maps</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bi bi-droplet-fill"></i>
        </div>
        <div class="menu-title">Maps Details</div>
      </a>
      <ul>
        <li> <a href="#"><i class="bi bi-circle"></i>Google Maps</a>
        </li>
        <li> <a href="#"><i class="bi bi-circle"></i>Air Quality</a>
        </li>
      </ul>
    </li>
    </li>
  </ul>
  <!--end navigation-->
</aside>
<!--end sidebar -->